@media screen and (max-width:500px) {
    #powerview {
        display: flex;
        flex-flow: column wrap;

    }
    .box {
        border: 0.1em solid #222;
        position: relative;
        margin: 10px;
    }

    .box span {
    }

    .box .chart {
        position: relative;
        width: 100%;
        max-height: 8em;
    }

    #solar {
        top: 0;
        left: 0;
    }
    #PSU {
        top: 0;
        left: 0;
    }
    #Battery {
        top: 0;
        left: 0;
    }
    #Load {
        top: 0;
        left: 0;
    }
}
