body {
    background-color: #fff;
    height: 100%;
    font-size: 10px 1em;
}

#toolbar {
    background-color: #006599;
    padding: 5px;
    text-align: right;
    margin-bottom: 3px;
    border-radius: 4px;
}

#zoom-size {
    color: #fff;
    font-family: sans-serif;
    font-size: 1.4em;
}

#toolbar button {
    font-size:30px;
    color: #006599;
    background-color: #fff;
    min-width: 50px;
    border-radius: 8px;
    border-width: 0;
    margin: 0 5px;
}

#toolbar button:active {
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}

.box {
    border: 1px solid #000;
    border-radius: 4px;
    padding: 0;
}

.box .header {
    padding: 0.5em;
    background-color: #006599;
    color: #fff;
}

.box h3 {
    font-family: sans-serif;
    font-size: 2em;
    margin: 0;
    padding:0;
}

.box .content {
    margin: 0;
    padding: 0;
}

.box span {
    display: inline-block;
    font-family: sans-serif;
    font-size: 1.5em;
    width: 32%;
    text-align: center;
}

.box .chart {
    z-index:0;
}

.box .chart canvas {
    width: 100% !important;
    height: 8em !important;
}

.voltage {
    color: #00f;
}
.current {
    color: #107010;
}
.power {
    color: #ff9933;
}
